@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Ubuntu&display=swap');

#experience {
    margin-top: 80px;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    position: absolute;

    font-family: "Ubuntu", sans-serif;
    color: darkslategray;

    scroll-behavior: smooth;
    justify-content: space-between;
}

.header {
    color: chocolate;
    font-size: 8vmin;
}

.blurb {
    color: darkslategray;
    font-size: 3vmin;
}


.toc {
    justify-content: left;
    background: rgb(216, 209, 255) none repeat scroll 0 0;
    border: 1px solid darkslategray;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.title {
    font-weight: 700;
    text-align: center;
}

.toc li, .toc ul, .toc ul li {
    list-style: outside none none !important;
}


.tocAndEducation {
    display: flex;
    margin: 3%;
}
.tocHold {
    vertical-align: middle;
}
.education {
    vertical-align: middle;
}

.tocList li a {
    color: darkslategray;
}

.spacer {
    flex: 1;
    width: auto;
}