@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Oswald", sans-serif;
    color: #D8D1FF;
    background-color: #868686;
}

html {
    scroll-behavior: smooth;
}