@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Ubuntu&display=swap');

#intro {
    margin-left: 5%;
    display: flex;
    position: absolute;
    top: 50%;
    bottom: 50%;

    font-family: "Ubuntu", sans-serif;
    color: darkslategray;

    justify-content: left;
    align-items: center;
    
}

.introPara {
    translate: 0px -10%;
    font-size: 12vmin;

    animation: loadAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.introPara span {
    color:chocolate;
}

.introPara span2 {
    font-size: 4vmin;
}

@keyframes loadAnimation{
    0% {
        translate: -1000px 0px;
    }
    100% {
        translate: 0px 0px;
    }
}