@media screen and (min-width: 850px)
{
    #intro {
        display: flex;
    }
    #intro .portrait {
        width: 50%;
    }
    #intro .portrait img {
        width: 100%;
    }
    #intro .text {
        display: grid;
        width : 50%;
    }
    #intro .text {
        margin: auto;
        padding-left: 10vmin;
        height: fit-content;
    }
    #intro .text h1 {
        height: fit-content;
    }
    #intro .text h2 {
        height: fit-content;
    }
    
    #about .tools {
        margin: 0 0 0 10vmin;
    }
    #about .tools img {
        width: 15vw;
    }
}

@media screen and (min-width: 1200px)
{
    #intro .portrait img {
        width: 75%
    }
    #about .tools img {
        width: 9vw;
    }
    #projects .blank {
        width: 540px;
    }
    #projects a {
        width: fit-content
    }
}