/* General */

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(216, 209, 255);
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

.logo {
    transform: translate(7px, -5px);
}

.logo img {
    height: 2.5rem;
    transform: translate(0px, 8px);
}

/* Transition */

a, .button{
    transition: all 300ms ease;
}

/* Desktop Nav Bar */

nav, .nav-links {
    display: flex;
}

#desktop-nav {
    position:fixed;
    top:0;
    width: 100%;
    background-color: darkslategrey;
}

nav {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-links {
    transform: translate(-7px, 0px);
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;

    animation: loadRightAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.nav-links li {
    color:rgb(216, 209, 255)
}

.nav-links li:hover {
    color: lightgrey;
}

a {
    color: rgb(216, 209, 255);
    text-decoration: none;
    text-decoration-color: gray;
}

a:hover {
    color: rgb(216, 209, 255);
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.logo {
    font-size : 2rem;
    color: rgb(216, 209, 255);
    
    animation: loadAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadAnimation{
    0% {
        translate: -1000px 0px;
    }
    100% {
        translate: 0px 0px;
    }
}

.logo:hover{
    cursor: default;
}

.logo a {
    text-decoration: none;
    color: rgb(216, 209, 255);
}

/* Mobile Nav */

#mobile-nav{
    display: none;
    background-color: darkslategrey;
    position:fixed;
    top:0;
    width: 100%;
}

.nav-menu {
    transform: translate(-7px, 0px);
    position: relative;
    display: inline-block;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer; 

    animation: loadRightAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadRightAnimation{
    0% {
        translate: 1000px 0px;
    }
    100% {
        translate: 0px 0px;
    }
}

.menu-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(216, 209, 255);
    transition: all 0.3 ease-in-out;
}

.menu_icon:hover span {
    color: gray;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: rgb(64, 107, 107);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;

    animation: loadRightAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(216, 209, 255);
    text-decoration: none;
    text-decoration-color: gray;
    transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
    color:honeydew;
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    border-radius: 0px 0px 10px 10px;
    transform: translate(6px, 18px);
    max-height: 300px;
}

.menu-links span {
    width: 100%;
    height: 1px;
    color: black;
}

.menu-icon:hover span {
    color: gray;
}

.menu-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    transition: all .5s;
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
    transition: all .5s;
}

.menu-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
    transition: all .5s;
}

.menu-icon span:first-child{
    transform: none;
    transition: all .5s;
}

.menu-icon span:nth-child(2) {
    opacity: 1;
    transition: all .5s;
}

.menu-icon span:last-child {
    transform: none;
    transition: all .5s;
}