section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0px;
}
.profile-pic {
    border-radius: 50%;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Text */
.section__text {
    align-self: center;
    text-align: center;
}
.section__text p {
    font-weight: 600;
}
.section__text__p1 {
    font-size: 1.5rem;
    text-align: center;
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title {
    font-size: 3rem;
    text-align: center;
    color: #AD9EFF;
}

/* ICONS */
.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    font-weight: 7300;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.button-color1, .button-color2 {
    border: none;
    background: #D8D1FF;
    color: black;
}
.button-color1:hover, .button-color2:hover {
    background: #AD9EFF;
    cursor: pointer;
    color: white
}
.button-container {
    gap: 1rem;
}