#LostSignal {
    flex-direction: column;
    margin-top: 5rem;
}

#LostSignal {
    display: flex;
    vertical-align: middle;
}

#LostSignal p a {
    color: #AD9EFF;
}

#media {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #AD9EFF 0.5rem solid;
    border-radius: 0.4rem;
    background-color: #AD9EFF;
    gap: 0.5rem;
    justify-content: space-between;
    height: 20rem;
}

.lefttwo {
    flex-direction: column;
    height: 100%;
    width: min-content;
}
.lefttop, .leftbot {
    border-radius: 0.4rem;
}
.lefttop {
    height: 46.8013%;
}
.leftbot {
    height: 50.5758;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mid, .top {
    border-radius: 0.4rem;
    height: 100%;
    width: auto;
}