#Projects {
    flex-direction: column;
    display: flex;
    vertical-align: middle;
}

#projects {
    margin-bottom: 70vh;
}

#projects p a {
    color: #AD9EFF;
}

#Projects .title {
    padding-top: 7rem;
}
#Projects p {
    font-size: large;
}

#media {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #AD9EFF 0.5rem solid;
    border-radius: 0.4rem;
    background-color: #AD9EFF;
    gap: 0.5rem;
    justify-content: space-between;
    height: 20rem;
}

.lefttwo {
    flex-direction: column;
    height: 100%;
    width: min-content;
}
.lefttop, .leftbot {
    border-radius: 0.4rem;
}
.lefttop {
    height: 46.8013%;
}
.leftbot {
    height: 50.5758;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mid, .top {
    border-radius: 0.4rem;
    height: 100%;
    width: auto;
}


#ShapedByFailure {
    flex-direction: column;
    margin-top: 40rem;
    display: flex;
    vertical-align: middle;
}
#shapedByFailureMedia {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: #AD9EFF 0.5rem solid;
    border-radius: 0.4rem;
    background-color: #AD9EFF;
    gap: 0.5rem;
    justify-content: space-between;
    height: 17.5rem;
}
#shapedByFailureMedia img {
    height: 100%;
}